@use '../base';
@use '../abstracts';

.quoteblock {

    background-color: base.$primary-light;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


    & img {
        @include abstracts.drop-shadow;
        object-fit: contain;
        margin: auto;
        width: 40vw;

    }

    & .quote {
        align-self: center;
    }

    &>* {
        // margin: auto;
        width: 100%;
    }

    // @media (min-width: base.$sm) {
    //     & img {
    //         width: 40vw;
    //     }
    // }

    @media (min-width: base.$med) {

        flex-direction: row-reverse;
        padding: 5rem;

        & img {
            margin: 0;
            width: 20vw;
            max-height: 40vh;
        }

    }
}