@use '../base';
@use '../abstracts';

.quoteblock {

    background-color: base.$primary-verydark;
    color: base.$light-text;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


    & img {
        @include abstracts.drop-shadow;
        object-fit: contain;
        margin: auto;
        width: 30vw;

    }

    & .quote {
        align-self: center;
    }

    &>* {
        width: 100%;
    }

    @media (min-width: base.$sm) {

        flex-direction: row-reverse;
        padding: 5rem;

        & img {
            margin: 0;
            width: 30vw;
            max-height: 30vh;
        }

    }
}