@use "sass:color";
@use "sass:map";

$colors: (primary: hsl(234, 75%, 67%),
    secondary: hsl(306, 75%, 67%),
    accent: hsl(90, 75%, 67%),
    tertiary: hsl(234, 75%, 27%),
);

// colors and variations

$primary: map.get($colors, primary);
$primary-light: color.scale($primary, $lightness: 20%);
$primary-dark: color.scale($primary, $lightness: -20%);
$primary-verydark: color.scale($primary, $lightness: -45%);


$secondary: map.get($colors, secondary);
$secondary-light: color.scale($secondary, $lightness: 20%);
$secondary-dark: color.scale($secondary, $lightness: -20%);
$secondary-verydark: color.scale($secondary, $lightness: -30%);


$accent: map.get($colors, accent);
$accent-light: color.scale($accent, $lightness: 20%);
$accent-dark: color.scale($accent, $lightness: -20%);

$tertiary: map.get($colors, tertiary);
$tertiary-light: color.scale($tertiary, $lightness: 20%);
$tertiary-verylight: color.scale($tertiary, $lightness: 40%);
$tertiary-dark: color.scale($tertiary, $lightness: -20%);


$background-p: hsl(234, 75%, 90%);
$background-s: hsl(306, 75%, 98%);
$background-t: hsl(234, 75%, 90%);

$light-text: hsl(234, 75%, 95%);
$dark-text: hsl(234, 75%, 20%);

// design tokens

$heading-color: $primary-verydark;
$header-background: $tertiary;

$link-dark: $primary-dark;
$link-visited-dark: $secondary-dark;
$link-light: $primary-light;
$link-visited-light: $secondary-light;

// @each $colorName,
// $colorValue in $colors {
//     .#{colorName} {
//         color: $colorValue;
//     }
// }

// :root {


//     @each $colorName,
//     $colorValue in $colors {
//         --#{$colorName}: #{$colorValue};
//         --#{$colorName}-light: #{color.scale($colorValue, $lightness: 20%)};
//         --#{$colorName}-dark: #{color.scale($colorValue, $lightness: -20%)};

//     }

// }