@use 'colors'as *;

$display-font: 'Righteous',
cursive;
$text-font: 'Cormorant Garamond',
serif;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $display-font;
    color: $heading-color;
}

body {
    font-family: $text-font;
}