@use 'colors';
@use 'breakpoints';

$display-font: 'Righteous',
cursive;
$text-font: 'Cormorant Garamond',
serif;
$sanserif: 'Radio Canada',
sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $display-font;
    color: colors.$heading-color;
}

h1 {
    font-size: 2rem;

    @media (min-width: breakpoints.$med) {
        font-size: 2.5rem;
    }

    @media (min-width: breakpoints.$lg) {
        font-size: 3rem;
    }
}

body {
    font-family: $text-font;
}

blockquote {
    font-family: $text-font;
    font-size: 1.5rem;

    @media (min-width: breakpoints.$lg) {
        font-size: 2rem;
    }
}

figcaption {
    font-family: $sanserif;
    font-size: .8rem;
}